<div class="user-details">
<h1> Coursework </h1>

<p style="margin-left: 20%; margin-right: 20%">I have taken a plethora of courses, both in mathematics and computer science. In total, I have
193 credits (counting the ongoing Fall '19 semester), with a GPA of 3.99. In CS, I have taken a wide variety of
topics covering both
the theoretical and practical aspects of computer science. These include Data Structure,
Systems
Fundamentals I
and II, Analysis of Algorithms, and more. In mathematics, I have also taken
courses
in a wide variety of fields - including Abstract Algebra, Real Analysis,
Differential
Geometry, Topology, Enumerative Geometry, and more. Among these are four (including two this semester) graduate-level courses.
</p>

</div>
