<div class="user-details">



<h1> My Projects </h1>

Here are a few of the projects I've done over the years.

 <p align="left" style="margin-left: 20%"> <a href="/tikz">TikzTool</a> : A tool to draw (di)graphs and automatically generate Tikz/PGF code that can be inserted into a LaTeX document. </p>

 <p align="left" style="margin-left: 20%"> <a href="/csg">Course Site Generator</a> : A project for CSE 219. </p> 

 <p align="left" style="margin-left: 20%"> <a href="/calculator">Graphing Calculator</a> : A Java infix and graphing calculator I wrote in high school. </p> 

<!-- <p align="left" style="margin-left: 20%"> <a href="/gomoku">AlphaGomoku</a> : My AP Computer Science project in high school.</p> -->

<!-- <p align="left" style="margin-left: 20%"> <a href="/merge-pdb">MergePDB</a> : One project I worked on during my BNL internship. </p> -->


</div>
