<div class="user-details">
<h1> Work experience </h1>

<p style="margin-left: 20%; margin-right: 20%"> In the spring and summer of 2019, I had an internship at the Brookhaven National Laboratory, where I
worked on several projects relating to the data processing and analysis of x-ray diffraction
images of protein
crystals at the National Synchrotron Light Source II (NSLS-II). I mostly worked with C, C++,
Python, and R.
</p>
    
<p style="margin-left: 20%; margin-right: 20%">                                                                                                                                                                                                    
In the summer of 2018, I had an internship at the ABB Corporate Research Center in Cracow,
Poland. There, I worked on developing a native implementation of the Bluetooth interface in the
Java language for embedded Linux operating systems.
</p>

</div>
